@keyframes pulsate {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    transform: scale(1.3);
    opacity: 0;
  }
}

.about {
  background-color: #0a2850;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.about__title {
  color: #ffffff;
  margin: 100px 0 0 80px;
  max-width: 251px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  z-index: 1;
}

.about__content {
  margin: 119px 80px 173px;
  max-width: 660px;
  font-family: Noto Serif, Times New Roman, serif;
  font-size: 20px;
  line-height: 30px;
}

.about__paragraph {
  color: #ffffff;
  padding: 0 0 20px;
  margin: 0 auto;
}

.about__paragraph:last-child {
  padding: 0 0;
}

.about__circle {
  display: flex;
  height: 426px;
  width: 426px;
  position: absolute;
  left: -129px;
  top: -152px;
  background-color: #1878dc;
  border-radius: 50%;
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out infinite;
}
