.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931);
}

.footer__content {
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 60px 80px 108px;
}

.footer__logo {
  height: 39px;
  width: 105px;
}

.footer__column {
}

.footer__social-heading {
  padding: 0 0 20px;
  margin: 0 auto;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.footer__list {
  margin: 0 auto;
  padding: 0;
}

.footer__list-item {
  list-style-type: none;
  margin: 0 0 16px 0;
  font-size: 16px;
  line-height: 20px;
}

.footer__list-item:last-child {
  margin: 0 auto;
}

.footer__social-icon {
  padding: 0 10px 0 0;
}

.footer__social-link {
  color: #ffffff;
  text-decoration: none;
  transition: 0.5s linear;
}

.footer__social-link:hover {
  opacity: 70%;
}

.footer__copyright {
  color: #ffffff;
  padding: 0 0 60px 80px;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto;
}
