.form {
  margin: 0 auto;
  width: 100%;
  max-width: 385px;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin: 0 auto;
}

.form__label {
  margin: 32px 0 8px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}

.form__label:first-child {
  margin: 0 0 8px;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.form__input {
  border-radius: 4px;
  padding: 15px 20px;
  font-size: 20px;
  line-height: 30px;
  border: 1px solid #838383;
}

.form__button {
  border-radius: 4px;
  background-color: #1878dc;
  transition-property: background-color;
  transition-duration: 1s;
  transition-timing-function: linear;
  margin: 32px 0;
  padding: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  border: none;
}

.form__button:hover {
  border-radius: 4px;
  background-color: #3f96f3;
  padding: 20px;
}

.form__checkbox {
  height: 20px;
  width: 20px;
  text-align: center;
}
