.header {
  display: flex;
  flex-direction: column;
  height: 800px;
  padding: 30px 80px 40px;
  box-sizing: border-box;
  background-image: url(../images/background_header.svg);
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
  position: relative;
}

.header__title {
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  color: #000000;
  max-width: 729px;
  margin: 183px 0px 0px;
}

.header__span-accent {
  font-family: Noto Serif, Times New Roman, serif;
  font-style: italic;
  font-weight: normal;
  color: #3f96f3;
  letter-spacing: normal;
  display: block;
}

.header__description {
  width: 683px;
  max-width: 683px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin: 28px 0px 0px 0px;
}

.header__image {
  z-index: -1;
  width: 550px;
  position: absolute;
  top: 124px;
  right: 5px;
  height: 568px;
  max-height: 568px;
  width: 646px;
  max-width: 646px;
}

.header__paragraph {
  margin: 0;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  font-weight: 500;
  color: #6f6f6f;
  justify-content: space-between;
  align-items: flex-end;
}

/* .header__hours {
  line-height: 21px;
  margin: 0 0 0 0;
} */

/* .header__address {
  margin: 0;
  color: #838383;
  display: flex;
  align-self: flex-end;
} */
